@import "themes/utils";

.header {
  box-sizing: border-box;
  background-image: url("../images/bg.jpg");
  @include image-size(100%, px2rem(530px));
  padding-top: px2rem(215px);

  .logo {
    @include block-center;
    background-image: url("../images/logo.png");
    @include image-size(px2rem(322px), px2rem(93px));
  }

  .download {
    display: block;
    @include block-center;
    background-image: url("../images/download.png");
    @include image-size(px2rem(214px), px2rem(81px));
    margin-top: px2rem(30px);

    &:active {
      background-image: url("../images/download-on.png");
    }
  }
}
