@import "themes/utils";

.ad {
  img {
    width: 100%;
    height: px2rem(690px);
  }

  ol {
    width: 100%;
    text-align: center;
    position: relative;
    top: px2rem(-55px);

    li {
      display: inline-block;
      margin: px2rem(7px);
      background-image: url("../images/index.png");
      @include image-size(px2rem(14px), px2rem(15px));
      
      &.on {
        background-image: url("../images/index-on.png");
      }
    }
  }
}