em {
  font-style: normal;
}

body {
  overflow: hidden;
  font-size: 12px !important;
}

.f1 {
  font-size: 16px;
}

[data-dpr="2"] {
  body {
    font-size: 24px !important;
  }

  .f1 {
    font-size: 32px;
  }
}

[data-dpr="3"] {
  body {
    font-size: 36px !important;
  }

  .f1 {
    font-size: 48px;
  }
}