em {
  font-style: normal;
}

body {
  overflow: hidden;
  font-family: Microsoft YaHei;
  font-size: 16px !important;
}

[data-dpr="2"] body {
  font-size: 32px !important;
}

[data-dpr="3"] body {
  font-size: 48px !important;
}